In [1]:
#conditional

x=0
y=5

if x<y: #truthy
    print('yes')
if y<x: #falsy
    print('yes')
if x: #falsy
    print('yes')
if y: #truthy
    print('yes')
if 'aul' in 'grault': #truthy
    print('yes')
if 'quux' in ['foo','bar','baz']: #falsy
    print('yes')

yes
yes
yes

In [2]:
#grouping statements: indentation and blocks

if 'foo' in ['bar','baz','qux']:
    print('expression was true')
    print('executing statement in suite')
    print('...')
    print('done.')
print('After conditional')

After conditional

In [3]:
if 'foo' in ['foo','bar','baz']:
    print('Outer condition is true')
    
    if 10>20:
        print('inner condition 1')
    print('between inner conditions')
    
    if 10<20:
        print('inner condition 2')
    print('end of outer condition')
print('after outer condition')

Outer condition is true
between inner conditions
inner condition 2
end of outer condition
after outer condition

In [5]:
#the else and elif clauses

x=20

if x<50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(first suite)
x is small

In [6]:
x=120

if x<50:
    print('(first suite)')
    print('x is small')
else:
    print('(second suite)')
    print('x is large')

(second suite)
x is large

In [7]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang>hargaBuku:
    print('beli buku')
else:
    print('uang tidak cukup')

uang tidak cukup

In [8]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 2000

if uang>hargaBuku:
    print('beli buku')
elif uang>hargaMajalah:
    print('beli majalah')
else:
    print('uang tidak cukup')

uang tidak cukup

In [11]:
name = 'Hacktiv8'
if name=='Fred':
    print('Hello Fred')
elif name =='Xander':
    print('Hello Xander')
elif name=='Hacktiv8':
    print('Hello Hacktiv8')
elif name=='Arnold':
    print('Hello Arnold')
else:
    print("I don't know who you are!")

Hello Hacktiv8

In [12]:
if 'a' in 'bar':
    print('foo')
elif 1/0:
    print("This won't happen")
elif var:
    print("This won't either")

foo

In [13]:
#one-line if statements

if 'f' in 'foo':print('1'); print('2'); print('3')

1
2
3

In [14]:
if 'z' in 'foo': print('1'); print('2'); print('3')

In [15]:
x=2

if x==1: print('foo'); print('bar'); print('baz')
elif x==2: print('qux'); print('quux')
else: print('corge'); print('grault')

qux
quux

In [16]:
x=3
if x==1: print('foo'); print('bar'); print('baz')
elif x==2: print('qux'); print(quux)
else: print('corge'); print('grault')

corge
grault

In [17]:
x=3
if x==1:
    print('foo')
    print('bar')
    print('baz')
elif x==2:
    print('qux')
    print('quux')
else:
    print('corge')
    print('grault')

corge
grault

In [18]:
#conditional expression (python's ternary operator)

raining = False
print("let's go to the", 'beach' if not raining else 'library')

let's go to the beach

In [19]:
raining = True
print("let's go to the", 'beach' if not raining else 'library')

let's go to the library

In [20]:
age = 12
s = 'teen' if age<21 else 'adult'
s

'teen'

In [21]:
'yes' if ('qux' in ['foo','bar','baz']) else 'no'

'no'

In [23]:
#the python pass statement

if True:
    pass

print('foo')

foo

In [24]:
#python 'while' loops

n=5
while n>0:
    n -=1
    print(n)

4
3
2
1
0

In [25]:
i=1
while i<6:
    print(i)
    i +=1

1
2
3
4
5

In [26]:
#the python break and continue statements

n=5
while n>0:
    n -=1
    if n==2:
        break
    print(n)
print('loop ended.')

4
3
loop ended.

In [27]:
n=5
while n>0:
    n -=1
    if n==2:
        continue
    print(n)
print('loop ended.')

4
3
1
0
loop ended.

In [28]:
#the else clause

n=5
while n>0:
    n -=1
    print(n)
print('loop done.')

4
3
2
1
0
loop done.

In [29]:
n=5
while n>0:
    n -=1
    print(n)
    if n==2:
        break
else:
    print('loop done.')

4
3
2

In [ ]:
#infinite loops

while True:
    print('foo')

In [32]:
#nested while loops

gender = 'M'
age=18

if age<18:
    if gender=='M':
        print('son')
    else:
        print('daughter')
elif age >=18 and age<65:
    if gender=='M':
        print('father')
    else:
        print('mother')
else:
    if gender=='M':
        print('grandfather')
    else:
        print('grandmother')

father

In [33]:
a=['foo','bar']

while len(a):
    print(a.pop(0))
    
    b=['baz','qux']
    
    while len(b):
        print('>',b.pop(0))

foo
> baz
> qux
bar
> baz
> qux

In [35]:
#one-line while loops

n=5
while n>0: n -=1; print(n)

4
3
2
1
0

In [38]:
#the python for loop

a=['foo','bar','baz']
for i in a:
    print(i)

foo
bar
baz

In [39]:
d={'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [40]:
for k in d:
    print(d[k])

1
2
3

In [41]:
for k in d.values():
    print(k)

1
2
3

In [42]:
for k,v in d.items():
    print(k,':',v)

foo : 1
bar : 2
baz : 3

In [43]:
#iterating through a dictionary

d={'foo':1, 'bar':2, 'baz':3}
for k in d:
    print(k)

foo
bar
baz

In [44]:
for k in d:
    print(d[k])

1
2
3

In [45]:
for v in d.values():
    print(v)

1
2
3

In [46]:
#the range() function

for n in (0,1,2,3,4):
    print(n)

0
1
2
3
4

In [47]:
x = range(5)
for n in x:
    print(n)

0
1
2
3
4

In [51]:
#altering for loop behavior
#the break and continue statements

for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        print('in if before break',i)
        break
    print(i)

foo
in if before break bar

In [54]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        break
    print(i)

foo

In [52]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        print('in if before continue',i)
        continue
    print(i)

foo
in if before continue bar
in if before continue baz
qux

In [55]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [53]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        print('in if before pass',i)
        pass
    print(i)

foo
in if before pass bar
bar
in if before pass baz
baz
qux

In [56]:
for i in ['foo','bar','baz','qux']:
    if 'b' in i:
        pass
    print(i)

foo
bar
baz
qux

In [57]:
#the else clause

for i in['foo','bar','baz','qux']:
    print(i)
else:
    print('Done.')

foo
bar
baz
qux
Done.

In [58]:
for i in ['foo','bar','baz','qux']:
    if i =='bar':
        break
    print(i)
else:
    print('Done.')

foo

In [59]:
#contoh penggunaan

temp=input("ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree=int(temp[:-1])
i_convertion=temp[-1]

if i_convertion=="C":
    result=int(round((9*degree)/5+32))
elif i_convertion=="F":
    result=int(round((degree-32)*5/9))
else:
    print("masukan input yang benar")
print("Temperaturnya adalah ",result," derajat")

ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 30C
Temperaturnya adalah  86  derajat

In [61]:
#contoh penggunaan

temp=input("ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: ")
degree=int(temp[:-1])
i_convertion=temp[-1]

if i_convertion=="C":
    result=int(round((9*degree)/5+32))
    print("Temperaturnya adalah ",result," F")
elif i_convertion=="F":
    result=int(round((degree-32)*5/9))
    print("Temperaturnya adalah ",result," C")
else:
    print("masukan input yang benar")

ketikan temperatur yang ingin dikonversi, eg. 45F, 120C: 0C
Temperaturnya adalah  32  F

In [60]:
while True:
    msg=input("Ketikan karakter: ").lower()
    print(msg)
    if msg=="stop":
        break

Ketikan karakter: AYAM
ayam
Ketikan karakter: GORENG
goreng
Ketikan karakter: ENAK
enak
Ketikan karakter: STOP
stop

In [64]:
def isYearLeap(year):
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                return True
            else:
                return False
        else:
            return True
    else:
        return False

testData = [1900, 2000, 2016, 1987]
testResults = [False, True, True, False]
for i in range(len(testData)):
    yr = testData[i]
    print(yr,"->",end="")
    result = isYearLeap(yr)
    if result == testResults[i]:
        print("OK")
    else:
        print("Failed")

1900 ->OK
2000 ->OK
2016 ->OK
1987 ->OK

In [65]:
def hi():
    return
    print("Hi!")

hi()

In [66]:
def isInt(data):
    if type(data) == int:
        return True
    elif type(data) == float:
        return False

print(isInt(5))
print(isInt(5.0))
print(isInt("5"))

True
False
None

In [67]:
def evenNumLst(ran):
    lst = []
    for num in range(ran):
        if num % 2 == 0:
            lst.append(num)
    return lst

print(evenNumLst(11))

[0, 2, 4, 6, 8, 10]

In [68]:
def listUpdater(lst):
    updList = []
    for elem in lst:
        elem **= 2
        updList.append(elem)
    return updList

l = [1, 2, 3, 4, 5]
print(listUpdater(l))

[1, 4, 9, 16, 25]

In [69]:
def scopeTest():
    YY = 123

scopeTest()
print(YY)

NameError: name 'YY' is not defined

In [73]:
def myFunction():
    print("Do I know that variable?", var)

vor = 5
myFunction()
print(var)

Do I know that variable? 1
1

In [75]:
def myFunction():
    global var
    var = 4
    print("Do I know that variable?", var)

var = 1
myFunction()
print(var)

Do I know that variable? 4
4

In [76]:
def myFunction(n):
    print("I got", n)
    n += 1
    print("I have", n)

var = 1
myFunction(var)
print(var)

I got 1
I have 2
1

In [78]:
def bmi(weight, height):
    if height < 1.0 or height > 2.5 or weight < 20 or weight > 200:
        return None
    
    return weight / height ** 2

print(bmi(352.5, 1.65))

None

In [79]:
def isItATriangle(a, b, c):
    if a + b <= c:
        return False
    if b + c <= a:
        return False
    if c + a <= b:
        return False
    return True

print(isItATriangle(1, 1, 1))
print(isItATriangle(1, 1, 3))

True
False

In [83]:
def factorialFun(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    
    product = 1
    for i in range(2, n + 1):
        product *= i
    return product

for n in range(1, 7): # testing
    print(n, factorialFun(n))

1 1
2 2
3 6
4 24
5 120
6 720

In [81]:
def fib(n):
    if n < 1:
         return None
    if n < 3:
        return 1

    elem1 = elem2 = 1
    sum = 0
    for i in range(3, n + 1):
        sum = elem1 + elem2
        elem1, elem2 = elem2, sum
    return sum

for n in range(1, 10): # testing
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

In [82]:
tuple1 = (1, 2, 4, 8)
tuple2 = 1., .5, .25, .125

print(tuple1)
print(tuple2)

(1, 2, 4, 8)
(1.0, 0.5, 0.25, 0.125)